<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MEMO</title>
  <link rel="stylesheet" href="./assets/style.css">
</head>
<body>
  <div id="app">
    <img v-if="order" class="memobg" :src="'./assets/memo_bg_' + order + '.jpg'" alt="充满梦幻色彩和事物的场景"
      :style="{filter: `blur(${blur}px)`}"
    >
    <!-- <div class="mask" :style="{backgroundColor: `rgba(0,0,0,${maskOpacity})`}"></div> -->
    <div class="mask"></div>
    <!-- <div class="guide" :class="{'is-active': active, 'is-hide': hide}"> -->
      <!-- <div class="welcome">欢迎光临</div>
      <div class="title">梦境空间</div>
      <div class="lets">在此</div> -->
      <!-- <div class="welcome" :class="{'is-hide': !guideVisible}"
        :style="{
          fontSize: welcomeFontSize + 'px',
          letterSpacing: welcomeLetterSpacing + 'px!important',
        }"
      >欢迎来到「造梦空间」</div>
      <div class="start" :class="{'is-hide': !guideVisible}"
        @click="start"
        :style="{
          fontSize: startFontSize + 'px',
          letterSpacing: startLetterSpacing + 'px',
          width: startWidth + 'px',
          height: startHeight + 'px',
          borderRadius: startRadius + 'px',
          marginTop: startMarginTop + 'px',
          background: `rgba(0,0,0,${startBackgoundOpacity})`,
          whiteSpace: 'nowrap',
        }"
      >开启梦境之旅</div> -->
      <div class="welcome" :class="{'is-hide': !guideVisible}">欢迎来到「造梦空间」</div>
      <div class="start" :class="{'is-hide': !guideVisible}" @click="start">开启梦境之旅</div>
    <!-- </div> -->

    <div v-if="!guideVisible" class="story">
      <div class="story__container">

      </div>
    </div>

    <div class="change-btn" @click="changeBg">切换背景</div>
    <!-- <div class="options" :class="!optionsOpen && 'is-closed'">
      <div class="options-toggle" @click="optionsOpen = !optionsOpen">&lt;&gt;</div>
      <div class="label">背景图模糊度({{ blur }})：</div>
      <input type="range" min="0" max="36" step="1" v-model="blur">
      <div class="label">蒙层透明度({{ maskOpacity }})：</div>
      <input type="range" min="0" max="1" step="0.02" v-model="maskOpacity">
      <div class="label">欢迎语文字大小({{ welcomeFontSize }})：</div>
      <input type="range" min="12" max="60" step="1" v-model="welcomeFontSize">
      <div class="label">欢迎语字间距({{ welcomeLetterSpacing }})：</div>
      <input type="range" min="0" max="10" step="0.5" v-model="welcomeLetterSpacing">
      <div class="label">按钮文字大小({{ startFontSize }})：</div>
      <input type="range" min="12" max="60" step="1" v-model="startFontSize">
      <div class="label">按钮字间距({{ startLetterSpacing }})：</div>
      <input type="range" min="0" max="10" step="0.5" v-model="startLetterSpacing">
      <div class="label">按钮宽度({{ startWidth }})：</div>
      <input type="range" min="80" max="320" step="1" v-model="startWidth">
      <div class="label">按钮高度({{ startHeight }})：</div>
      <input type="range" min="20" max="200" step="1" v-model="startHeight">
      <div class="label">按钮圆角({{ startRadius }})：</div>
      <input type="range" min="0" max="100" step="1" v-model="startRadius">
      <div class="label">按钮与欢迎语间距({{ startMarginTop }})：</div>
      <input type="range" min="0" max="30" step="1" v-model="startMarginTop">
      <div class="label">按钮背景色透明度({{ startBackgoundOpacity }})：</div>
      <input type="range" min="0" max="1" step="0.02" v-model="startBackgoundOpacity">
    </div> -->
  </div>

  <script src="./vue/global.prod.js"></script>
  <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script> -->
  <script>
    const { createApp, ref } = Vue
    createApp({
      setup() {
        function randomRange(n1, n2) {
          return Math.floor(Math.random() * (n2-n1)) + n1
        }
        const order = ref('')
        const blur = ref(3)
        // const active = ref(false)
        // const hide = ref(false)

        const guideVisible = ref(false)

        // const maskOpacity = ref(0.1)
        // const welcomeFontSize = ref(22)
        // const welcomeLetterSpacing = ref(3)

        // const startFontSize = ref(18)
        // const startLetterSpacing = ref(1)
        // const startWidth = ref(128)
        // const startHeight = ref(128)
        // const startMarginTop = ref(16)
        // const startRadius = ref(99)
        // const startBackgoundOpacity = ref(0.382)

        // const optionsOpen = ref(true)

        function changeBg() {
          // active.value = false
          // hide.value = false
          guideVisible.value = false

          let n;
          do {
            n = ('00' + randomRange(1, 10)).slice(-2)
          } while (n === order.value);
          order.value = n

          blur.value = 21

          setTimeout(() => {
            // active.value = true
            guideVisible.value = true
          })
        }

        setTimeout(() => {
          changeBg()
        })

        function start() {
          blur.value = 0
          guideVisible.value = false
          // active.value = false
        }

        return {
          order,
          blur,
          // active,
          // hide,
          guideVisible,
          changeBg,
          start,

          // maskOpacity,
          // welcomeFontSize,
          // welcomeLetterSpacing,

          // startFontSize,
          // startLetterSpacing,
          // startWidth,
          // startHeight,
          // startMarginTop,
          // startRadius,
          // startBackgoundOpacity,

          // optionsOpen,
        }
      }
    }).mount('#app')
  </script>
</body>
</html>
