html, body, #app {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

#app {
  position: relative;
}

.memobg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* filter: blur(25px); */
  transition: all 2s;

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.change-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  /* padding:  6px 12px; */
  font-size: 14px;
  line-height: 1.15;
  width: 90px;
  height: 30px;
  border-radius: 4px;
  background-color: rgb(12, 168, 116);
  color: #ffffff;
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1001;
}

.mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.38);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.guide {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 24px;
  line-height: 52px;
  letter-spacing: 4px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;

  position: absolute;
  top: 42%;
  left: 0;
  transform: scale(1) translateY(-50%);
  z-index: 20;
}

.start {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 46px;
  font-size: 18px;
  letter-spacing: 2px;
  line-height: 1;
  /* padding: 8px 40px; */
  padding-bottom: 1px;
  border-radius: 99px;
  background-color: rgba(0,0,0,0.38);
  cursor: pointer;

  margin-top: 12px;
}

.welcome, .title, .lets, .start {
  opacity: 0;
  animation-fill-mode: both;
  animation-duration: 2s;
  animation-timing-function: ease-out;
}

.welcome {
  /* animation-duration: 2s; */
  /* animation-timing-function: ease-out; */
}

.title {
  animation-delay: 0.2s;
  /* animation-duration: 2s; */
  /* animation-timing-function: ease-out; */
}

.lets {
  animation-delay: 2.3s;
  /* animation-duration: 2s; */
  /* animation-timing-function: ease-out; */
}

.start {
  animation-delay: 1.2s;
  /* animation-duration: 2s; */
  /* animation-timing-function: ease-out; */
}

.is-active .welcome {
  animation-name: fadeInCompact;
}

.is-active .title {
  animation-name: fadeInLoose;
}

.is-active .lets {
  animation-name: fadeIn;
}

.is-active .start {
  animation-name: fadeInScaleDown;
}

/* .is-hide .welcome {
  animation-delay: 0s;
  animation-name: fadeOutLoose;
}

.is-hide .title {
  animation-delay: 0s;
  animation-name: fadeOutCompact;
}

.is-hide .lets {
  animation-delay: 0s;
  animation-name: fadeOut;
}

.is-hide .start {
  animation-delay: 0s;
  animation-name: fadeOutScaleUp;
} */

/* .is-hide .welcome, .is-hide .title, .is-hide .lets, .is-hide .start {
  animation-delay: 0s;
  animation-name: fadeOutScaleDown;
  animation-duration: 1s;
} */

.guide.is-hide {
  /* opacity: 0;
  transform: scale(0.8) translateY(-50%); */
  animation-name: fadeOutScaleDown;
  animation-fill-mode: both;
  animation-duration: 250ms;
  animation-timing-function: ease-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeInCompact {
  from {
    opacity: 0;
    letter-spacing: 40px;
  }
  to {
    opacity: 1;
    letter-spacing: 4px;
  }
}

/* @keyframes fadeOutLoose {
  from {
    opacity: 1;
    letter-spacing: 4px;
  }
  to {
    opacity: 0;
    letter-spacing: 40px;
  }
} */

@keyframes fadeInLoose {
  from {
    opacity: 0;
    letter-spacing: -20px;
  }
  to {
    opacity: 1;
    letter-spacing: 4px;
  }
}

/* @keyframes fadeOutCompact {
  from {
    opacity: 1;
    letter-spacing: 4px;
  }
  to {
    opacity: 0;
    letter-spacing: -30px;
  }
} */

@keyframes fadeInScaleDown {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* @keyframes fadeOutScaleUp {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1.15);
  }
} */

@keyframes fadeOutScaleDown {
  from {
    opacity: 1;
    transform: scale(1) translateY(-50%);
  }
  to {
    opacity: 0;
    transform: scale(0.95) translateY(-50%);
  }
}
